*{
font-family: 'Open Sans', sans-serif;

	margin: 0px;
	padding: 0px;

}

body{


	background-image: url(bg.jpg);

	background-size: cover;
	

}

li:hover{
transform: scale(1.1);
	transition-duration: 1s;
	background-color: #CEE4F2;

}

li{

font-size: 25px;
font-weight: bold;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

#header{


	background-color: white;
	position: sticky;
top: 0px;

}



#header>ul{


	display: flex;
	list-style: none;
	padding: 30px;
	justify-content: space-around;
	

}

#header>ul>li:nth-child(1){

}

.inner{


	background-color: white;
margin: 40px;
	
}

#white{

margin-top: 100px;

	display: flex;
	padding: 50px;
	
	margin: 39px;
	justify-content: space-around;
}





.inner3{


	background-color: white;
margin: 40px;
	

}




#white>.inner2{

background-color: white;
margin: 40px;
	
	
}

#white>div{

	height:auto;
font-size: 20px;
	
	padding: 30px;
	border-radius: 15px;
opacity:1;

	
}


#white>div:hover{

	transform: scale(1.1);
	transition-duration: 1s;
}

h1{

font-size: 30px;

}



#white>div>i{
	display: flex;
	justify-content: center;
color: black;
	font-size: 80px;
	margin-bottom: 50px;
}


#copy{

display: flex;
background-color: whitesmoke;
margin-right: 0px;
	font-size: 15px;
	opacity: 0.7;
	margin-top: 30px;
}
#icons{
display: flex;
justify-content: center;

	text-align: center;
	font-size: 30px;
	width: auto;
}

#icons>a{
margin: 10px;
padding: 10px;
opacity: 0.7;
background-color: whitesmoke;
border-radius: 10px;
color: black;
}




